body {
  background-color: #424952;

  font-family: "RedHands";
  color: #f9f5ec;
  letter-spacing: 0.1em;
  font-weight: bolder;

  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  border: none;

  user-select: none;
}

.page {
  padding-top: 100px;
}

.page-title {
  display: flex;
  align-items: center;

  background-color: #2b3036;

  padding: 0.8em;
  padding-top: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 0.1em;

  text-align: center;
  letter-spacing: 0.15em;
}

.title-block {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5em;
}

.logo {
  width: 100px;
  height: 100px;

  padding: none;
  padding-right: 25px;
  margin: none;
}

.heading {
  margin: 1em;
  margin-bottom: 0.2em;
}

.sets {
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.set {
  height: fit-content;
  width: 40vw;

  padding: 1.5em;
  padding-top: 0.9em;
  margin: 0.7em;

  border-radius: 0.8em;

  background-color: #373c44;

  transform: translateY(0);

  transition: all 0.3s ease-in-out;
}

.set:hover {
  background-color: #52596e;
  transform: translateY(-3px);
  cursor: pointer;
}

.set:focus {
  background-color: #52596e;
  transform: translateY(-3px);
  cursor: pointer;
}

.set-title {
  padding-top: 0.3em;
}

.desc {
  font-family: Coolvetica;
  padding: 0.6em;
}

@font-face {
  font-family: "RedHands";
  src: url("@/assets/Fonts/KGRedHands.ttf");
}

@font-face {
  font-family: "Coolvetica";
  src: url("@/assets/Fonts/Coolvetica.otf");
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: #373c44;
  padding: 2em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

.menu button {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: none;
  background-color: #52596e;
  color: #f9f5ec;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}

.menu button:hover {
  background-color: #2b3036;
}
